*{
    margin: 0;
    padding: 0;
    font-family: Didot;
}
.main {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("back.png");
}
.nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
#logo {
    position: fixed;
    top: 0%;
    flex-basis: 20%;
    float: left;
  }
  .logo img {
    width: 60 px;
    display: flex;
    float: left;
    top: 2%;
    left: 2%;
  }
  .logo h1 {
    font-family: Didot;
    color: #e4d1ca;
    display: flex;
    font-size: 50px;
  }
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.nav-links ul li a {
    color: #e4d1ca;
    text-decoration: none;
}
.title {
    color: #e4d1ca;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.text {
    color: #e4d1ca;
    font-family: didot;
    text-align: left;
    position: fixed;
    left: auto;
    margin-left: 5px;
}
.text a {
    color: #a45e3a;
}
.rect { 
    width:1000px;
    height:60px;
    background-color: #a45e3a;
    float: left;
    position: absolute;
    top: 0%;
    left: 37%;
    opacity: 50%;
  }
  .image1 {
      float: left;
      margin-right: 15px;
      margin-left: 7px;
      display: table;
      border: thin solid #e4d1ca;
  }
  .caption1 {
      display: table-caption;
      caption-side: bottom;
      float: left;
      font-size: 12px;
  }
  .image2 {
    float: right;
    margin-right: 7px;
    margin-left: 15px;
    display: table;
    border: thin solid #e4d1ca;
}
.caption2 {
    display: table-caption;
    caption-side: bottom;
    float: left;
    font-size: 12px;
}
.image1 a {
    color: #a45e3a;
}
.image2 a {
    color: #a45e3a;
}
